version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    groups:
      gomod:
        patterns: ["*"] # All updates of last week
  - package-ecosystem: npm
    directory: docs
    schedule:
      interval: weekly
    groups:
      npm:
        patterns: ["*"] # All updates of last week
