seq_map_path="/tmp/harmonylite-3-sm.cbor"
db_path="/tmp/harmonylite-3.db"

[replication_log]
shards=2
max_entries=2048
replicas=1
compress=true

[nats]
user_name = "harmonylite"
user_password = "secure-password-here"
reconnect_wait_seconds=5
server_config = "examples/nats-server-3.conf"

[logging]
verbose = false
format = "console"

[prometheus]
enable = true
bind = "0.0.0.0:3012"

[snapshot]
enabled = true
interval = 60000  # Save snapshot every 60 seconds
leader_ttl = 30000  # Leader election TTL in milliseconds