name: Tests

on:
  workflow_call:
  workflow_dispatch:        # Allow manual triggering
  push:
    branches: [master]
    paths-ignore:
      - 'docs/**'           # Ignore documentation changes
      - '**.md'             # Ignore markdown files
      - '.github/workflows/pages.yml'  # Ignore docs workflow file
  pull_request:
      types:
        - opened
        - synchronize
        - reopened
      paths-ignore:
        - 'docs/**'           # Ignore documentation changes
        - '**.md'             # Ignore markdown files
        - '.github/workflows/pages.yml'  # Ignore docs workflow file

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '^1.25.0'
          check-latest: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y sqlite3 libsqlite3-dev

      - name: Run unit tests
        run: |
          # Run all tests except those in the e2e directory
          go test -v $(go list ./... | grep -v "/tests/e2e")

  e2e-tests:
    runs-on: ubuntu-latest
    needs: unit-tests
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '^1.25.0'
          check-latest: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y sqlite3 libsqlite3-dev

      - name: Run Unit Tests
        run: make tests

      - name: Build HarmonyLite
        run: |
          CGO_ENABLED=1 CGO_CFLAGS="-Wno-typedef-redefinition -Wno-nullability-completeness" go build -o harmonylite .
          # Make sure the binary is executable
          chmod +x harmonylite
          # Print working directory and check if the binary exists
          pwd
          ls -la

      - name: Run E2E Tests
        run: |
           go run github.com/onsi/ginkgo/v2/ginkgo -v tests/e2e
